dt, dd {
  display: inline-block;
}

dd {
  margin-inline-start: 0.5em;
}

dt {
  font-weight: bold;
}

.game {
  width: auto;
  margin: 1em 0;
  padding: 1em 0;
  border-radius: 5px;
  display: flex;
  align-items: top;
  justify-content: left;
  background-color: #5a5a5a;
}

  .game > * {
    min-height: 4em;
    padding: 0 1em;
    flex-basis: 100%;
    border-right: 2px solid #2e2e2e;
  }

  .game > figcaption {
    text-align: center;
  }

  .game > figcaption > img {
    max-width: 100%;
    max-height: 9em;
  }

  .game > *:last-child {
    border-right: none;
  }

  .game h3, .game p {
    margin-top: 0;
    margin-bottom: 0.125em;
  }

  .game h3 {
    text-align: center;
  }

.game-info, .game > figcaption {
  flex-basis: 25%;
}

.game-peers {
  flex-basis: 50%;
}

.peerpill {
  display: inline-block;
  border-radius: 3px;
  padding: 0;
  margin: 0.25em;
}

  .peerpill > figcaption {
    font-weight: bold;
  }

  .peerpill > * {
    display: inline-block;
    padding: 0.125em 0.25em;
  }

  .peerpill > span {
    padding: 0;
  }

.status-green {
  background-color: green;
}

.status-grey {
  background-color: gray;
}

.status-red {
  background-color: maroon;
}

.status-orange {
  background-color: darkorange;
  color: black;
}

.clickable {
  cursor: pointer;
}
