dt, dd {
  display: inline-block;
}

dd {
  margin-inline-start: 0.5em;
}

dt {
  font-weight: bold;
}

.game {
  margin: 1em 0;
}

.game-transfer {
  background-color: gray;
  margin: 0 3em;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.game-transfer:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.game-transfer-info {
  flex-basis: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.25em;
  font-weight: bold;
}

.game-body {
  margin: 0;
  padding: 1em 0;
  border-radius: 5px;
  display: flex;
  align-items: top;
  justify-content: left;
  background-color: #5a5a5a;
}

  .game-body > * {
    min-height: 4em;
    padding: 0 1em;
    flex-basis: 100%;
    border-right: 2px solid #2e2e2e;
  }

  .game-body > figcaption {
    text-align: center;
  }

  .game-body > figcaption > img {
    max-width: 100%;
    max-height: 9em;
  }

  .game-body > *:last-child {
    border-right: none;
  }

  .game-body h3, .game-body p {
    margin-top: 0;
    margin-bottom: 0.125em;
  }

  .game-body h3 {
    text-align: center;
  }

.game-info, .game-body > figcaption {
  flex-basis: 25%;
}

.game-peers {
  flex-basis: 50%;
}

.peerpill {
  display: inline-block;
  border-radius: 3px;
  padding: 0;
  margin: 0.25em;
}

  .peerpill > figcaption {
    font-weight: bold;
  }

  .peerpill > * {
    display: inline-block;
    padding: 0.125em 0.25em;
  }

  .peerpill > span {
    padding: 0;
  }

.status-green {
  background-color: green;
}

.status-grey {
  background-color: gray;
}

.status-red {
  background-color: maroon;
}

.status-orange {
  background-color: darkorange;
  color: black;
}

.clickable {
  cursor: pointer;
}
